<p id="notice"><%= notice %></p>

<h1>Questions for <%= @test.title %></h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.body %></td>
        <td><%= link_to 'Edit Question', edit_test_question_path(@test, question) %></td>
        <td><%= link_to 'Destroy Question', [@test, question], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_test_question_path(@test) %>

<br>
<%= link_to 'Back to test', [@test] %>