<h1>
  <% if @test_passage.success? %>
  <%= t('.header', title: @test_passage.test.title) %> 
  <h2> Your score: <font color = 'green'><%= @test_passage.percent_result.to_i %></font></h2>
  <% else %>
  The <%= @test_passage.test.title %> has been failed! 
  <h2>Your score: <font color = 'red'><%= @test_passage.percent_result.to_i %></font></h2>
  <% end %>
</h1>

<%= link_to 'Back to all tests', tests_path %>