<h1><%= t('.header') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.header2') %>: </b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.header3') %></b>
  <%= @answer.correct %>
</p>

<%= link_to t('admin.actions.back'), admin_question_path(@answer.question) %>
