<h1><%= question_header(@question) %></h1>
<%= form_with model: [:admin, @test, @question], local: true do |f| %>
  <%= render 'shared/errors', resource: @question %>
  
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :body, id: :body %>
  </p>

  <p><%= f.submit %></p>
<% end %>

<%= link_to t('admin.actions.back'), admin_test_path(@test) %>
