<h1><%= @question.test.title %> <%= t('.header') %></h1>

<p>
  <%= @question.body %>
</p>

<h2><%= t('.header2') %></h2>

<%= link_to t('admin.actions.create_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('admin.actions.edit'), edit_admin_question_path(@question) %> | 
<%= link_to t('admin.actions.back'), admin_test_path(@test) %>