<p><%= t('devise.mailer.email_changed.header') %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailer.email_changed.note') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t('devise.mailer.email_changed.note') %> <%= @resource.email %>.</p>
<% end %>
