<p><%= t('devise.mailer.unlock_instructions.header') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.unlock_instructions.p1') %></p>

<p><%= t('devise.mailer.unlock_instructions.p2') %></p>

<p><%= link_to t('devise.mailer.unlock_instructions.action'), unlock_url(@resource, unlock_token: @token) %></p>
