<div class="card w-50">
  <div class="card-body">
    <%= form_with model: [:admin, @test], local: true do |f| %>
      <%= render 'shared/errors', resource: @test %>

      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, id: :title, class: 'form-control' %>
        
        <p>
          <%= f.label :level %><br>
          <%= f.number_field :level, id: :level, class: 'form-control' %>
        </p>

        <p>
          <%= f.label :category %><br>
          <%= f.collection_select :category_id, Category.all, :id, :title, prompt: true, class: 'form-control' %>
        </p>
      </div>
      <p><%= f.submit class: 'btn btn-primary' %></p>
    <% end %>
  </div>
</div>