<h1><%= t('tests.index.header') %></h1>
<%= link_to t('admin.actions.new_test'), new_admin_test_path, :class => "btn btn-outline-primary my-4" %>

<%= render 'shared/errors', resource: @test %>

<table class="table table-striped">
  <tr>
    <th class="sort-by-title pointer">
      <%= t('tests.index.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>

    </th>
    <th><%= t('tests.index.level') %></th>
    <th><%= t('tests.index.number_questions') %></th>
    <th colspan="4"><%= t('tests.index.actions') %></th>
  </tr>

  <%= render @tests %>
</table>