<h1><%= t('tests.index.header') %></h1>
<%= link_to t('admin.actions.new_test'), new_admin_test_path, :class => "btn btn-outline-primary my-4" %>

<table class="table table-striped">
  <tr>
    <th><%= t('tests.index.title') %></th>
    <th><%= t('tests.index.level') %></th>
    <th><%= t('tests.index.number_questions') %></th>
    <th colspan="4"><%= t('tests.index.actions') %></th>
  </tr>

  <%= render @tests %>
</table>