<p class="nav user">
<% if logged_in? %>
  Welcome, <b><%= current_user.email %></b> Guru   |  
  <%= link_to "Home", root_path %> | 
  <%= link_to 'Log out', log_out_path %>
<% else %>
  <%= link_to "Log in", login_path %> | 
  <%= link_to "Sign up", signup_path %>
<% end %>
</p>
  
  
