<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

  <span class="navbar-text">
    <% if user_signed_in? %>
      Welcome, <b><%= current_user.first_name %> <%= current_user.last_name %></b> Guru   |  
      <%= link_to t('layouts.header.actions.home'), root_path %> | 
      <%= link_to t('layouts.header.actions.logout'), destroy_user_session_path, method: :delete %> |
      <% if current_user.admin? %>
        <%= link_to t('admin.nav.admin_panel'), admin_tests_path, class: 'navbar-text' %>
      <% end %>
    <% else %>
      <%= link_to t('layouts.header.actions.login'), user_session_path %> | 
      <%= link_to t('layouts.header.actions.signup'), new_user_registration_path %>
    <% end %>
  </span>
</nav>
  
  
